
        <div class="back-home">
            <a href="/" class="previous">&#8249; Enter New Search</a>
        </div>

        <div class="header-text">
            <header>
                <p>RESULTS</p>
            </header>
        </div>

        <div class="container">
            
            <div class="results-amazon"> 
                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                <label for="vehicle1">Amazon:</label><br>
            </div>

            <div class="amazontable" style="overflow-x:auto;">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>TITLE</th>
                            <th>PRICE</th>
                            <th>RATING</th>
                            <th>URL</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                        {{#each data}}
                            <td>{{this.id}}</td>
                            <td>{{this.title}}</td>
                            <td>{{this.price}}</td>
                            <td>{{this.score}}</td>
                            <td>
                                <a href="{{this.url}}">Click here!</a>
                            </td>
                        </tr>  
                        {{/each}}                         
                        <!-- <tr>
                            <td>Nike size 11</td>
                            <td>85</td>
                            <td>3.9</td>
                            <th><a href="https://www.amazon.com/ref=nav_logo">Click here!</a></th>
                        </tr> -->
                    </tbody>
                </table>
            </div>

            <div class="downloadamazon">
                <button class="btn"><i class="fa fa-download"></i> Download.CSV</button>
            </div>
            
            <div class="results-target" style="display:none"> 
                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                <label for="vehicle1">Target:</label><br>
            </div>

            <div class="targettable" style="overflow-x:auto;" style="display:none">
                <table>
                  <tr>
                    <th>DESCRIPTION</th>
                    <th>PRICE</th>
                    <th>RATING</th>
                    <th>URL</th>
                </tr>
                <tr>
                  <td>Nike size 11</td>
                  <td>79</td>
                  <td>4.3</td>
                  <th><a href="https://www.amazon.com/ref=nav_logo">Click here!</a></th>
                </tr>
                <tr>
                  <td>Nike size 11</td>
                  <td>83</td>
                  <td>3.9</td>
                  <th><a href="https://www.amazon.com/ref=nav_logo">Click here!</a></th>
                </table>
            </div>

            <div class="downloadtarget">
                <button class="btn"><i class="fa fa-download"></i> Download.CSV</button>
            </div>

            <div class="results-walmart" style="display:none"> 
                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                <label for="vehicle1">Walmart:</label><br>
            </div>

            <div class="walmarttable" style="overflow-x:auto;">
                <table>
                  <tr>
                    <th>DESCRIPTION</th>
                    <th>PRICE</th>
                    <th>RATING</th>
                    <th>URL</th>
                </tr>
                <tr>
                  <td>Nike size 11</td>
                  <td>75</td>
                  <td>4.4</td>
                  <th><a href="https://www.amazon.com/ref=nav_logo">Click here!</a></th>
                </tr>
                <tr>
                  <td>Nike size 11</td>
                  <td>78</td>
                  <td>4.1</td>
                  <th><a href="https://www.amazon.com/ref=nav_logo">Click here!</a></th>
                </table>
            </div>

            <div class="downloadwalmart">
                <button class="btn"><i class="fa fa-download"></i> Download.CSV</button>
            </div>

            <div class="results-all"> 
                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                <label for="vehicle1">Select All</label><br>
            </div>

            <div class="results-save">
                <a href="summary.html" class="savetoaccount">SAVE</a>
            </div>

        </div>
